body{
    font-size: 20px;
    padding: 0;
  text-align: justify;
}

header{
    text-align: center;
    position: sticky;
    top: 0%;
    z-index: 1;
    border: 0ch;
    background-color: rgba(255, 255, 255, 0.67);
}


.foto{
    text-align: center;
}
.carousel-control-next,
.carousel-control-prev{
    filter: invert(100%);
}
